/*  전체 페이지 구성 */

/*  전체 header, dropdown, main 컨테이너 */

/* header */
.ourheader {
    flex: 0 0 10% ; /* 15%의 고정 높이 */
    background-color: rgb(75, 75, 144) ; /* 임의의 배경색 */
}
/* header 제목 */
.titleSet {
    display: flex;
}

.MainTitle {
    font-size: 40px;
    font-weight: 700;
    color : white;
}
.SubTitle {
    font-size: 15px;
    color : white;
    margin-top: 25px;
    margin-left: 5px;
}

/* 왼쪽 카테고리 이미지 */

.menuimg{
    width :30px;
    height: 30px;
    position: absolute; /* 절대 위치 지정 */
    margin-left: 10px;
    left: 0; /* 왼쪽으로 정렬 */
    top: 3.3%; /* 상단을 기준으로 세로 가운데 정렬 */
    transform: translateY(-50%); /* 수직 정렬을 위한 위치 조정 */
    cursor: pointer;
}

/* 왼쪽 사이드바 사이즈 */
#offcanvasExample {
    width: 300px;
}

/* header 관리 컨테이너 */
.headerContainer {
    display: flex;
    justify-content: space-between; /* 요소들을 좌우로 정렬 */
    align-items: center; /* 수직 가운데 정렬 */
    height: 100%;
    width: 100%;
}

/* header 유저 병원 */
.hopitalUser {
    font-size: 20px;
    width :150px;
    height: 40px;
    color: white;
    font-weight: 700;
    margin-top: 15px;
    display: flex;
}

/* header 유저 이름 */
.hopitalUserLable {
    text-align: center;
}

/* 드롭다운 영역 구성 */
.ourdropdown {
    flex: 0 0 10%; /* 15%의 고정 높이 */
    display: flex;
    align-items: center;
    justify-content: space-between; /* 요소들을 좌우로 정렬 */
    padding: 10px;
}

.ourdropdownSet {
    display: flex;
    margin-left : 10px;
}

.ourdropdown2 {
    margin-left: 10px;
}

/* main 구성 */
.mainContent {
    padding: 20px;
}

.ourcontent {
    flex: 1; /* 남은 공간을 차지 */
}

/*  테이블(표)  */
.table {
    font-size: 20px;
}

