/* Admin All Body Page Size */
.adminBody {
    height: 79.3vh;
}
/* DashBoard Page Graph Body*/
.UserAGraphBody {
    height: 44vh;
}
/* DashBoard Page Graph */
.UserAGraph {
    width: 100% !important;
    height: 35vh !important;
}

/* Report Page Title */
.reportTitle {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-right :10rem;
    margin-bottom : 1rem;
}

