/* Admin All Body Page Size */
.adminBody {
    height: 79.3vh;
}

/* Report Page Title */
.reportTitle {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-right :10rem;
    margin-bottom : 1rem;
}

