/* Admin All Body Page Size */
.adminBody {
    height: 79vh;
}

/* Report Page Title */
.reportTitle {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-right :10rem;
    margin-bottom : 1rem;
}

/* SubmitTitle */
.SubmitTitle {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    margin-right :15rem;
    margin-bottom : 1rem;
}

/* role페이지 사용자권한 관련 */
.unusable-row {
    text-decoration: line-through;
    color: #bb1010;
}

/* role페이지 Restore버튼 */
.custom-primary {
    background-color: #e77205;
    border-color: #e77205;
    color: white;
}
.custom-primary:hover {
    background-color: #e77205; /* hover 시 밝은 주황색 */
    border-color: #e77205;
    color: white;
}
