.ourdropdown1,
.ourdropdown2 {
    margin: 5px;
}

.dropBtn {
    background-color: #5C5AFA;
    color: white;
}

.SearchBtn {
    background-color: white;
    border: 1px solid #dee2e6; /* 테두리 두께와 색상을 설정합니다 */
}
