.tableLink {
    color: inherit;
    text-decoration: none;
    text-align: 'center';
}

// 테이블 헤더 배경색 투명
.table thead th {
    background-color: #7E8EF1 !important;
    color: white;
  }
  

  .table tbody tr:nth-child(odd) td {
    background-color: white;
  }
  
  .table tbody tr:nth-child(even) td {
    background-color: #eeeeee;
  }

  body {
    background-color: #Eeeeee;
  }