.dropSearch {
    padding-left : 30px;
    padding-right : 30px;
    padding-top : 30px;
}

.mainTableCom {
    padding: 30px;
    padding-top : 0px;
} 

.loginBody {
    width: 100%;
    height: 100%;
}

body {
    background-color: #Eeeeee;
}

.detailBtn1 {
    background-color: #8282EC;
    border : none;

    &:hover {
        background-color : #9a9ae0;
    }
}

.detailBtn2 {
    background-color: #95EB95;
    border : none;

    &:hover {
        background-color : #a8d3a8;
    }
}

.detailBtn3 {
    background-color: #DD6666;
    border : none;

    &:hover {
        background-color : #dd9c9c;
    }
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Pretendard-Regular', sans-serif;
}